

<router-outlet></router-outlet>
<app-security></app-security>

<!-- 
<div class="c5">

  <h3>list</h3>
<ul>
  <li><a href="#">one</a></li>
  <li><a href="#">two</a></li>
  <li><a href="#">three</a></li>
</ul>

</div>

<div class="container">
  <h1>Heading 1</h1>
  <h2>Two</h2>
  <h1>Heading 1</h1>
  <h2>Hi</h2>
  
  <p class="c1">Hi this p tag</p>
  
  <router-outlet></router-outlet>
  <p class="c2">
    Java is a class-based, object-oriented programming language 
    that is designed to have as few implementation dependencies as possible.
  </p>
  
  <p class="c3">
    Angular is an application design framework and development platform for 
    creating efficient and sophisticated single-page apps.
  
    These Angular docs help you learn and use the Angular framework and 
    development platform, from your first application to optim
    complex single-page apps for enterprises. Tutorials and guides include
     downloadable examples to accelerate your projects.
  </p>
  
</div> -->
